
.carousel-item img {
    width: 100vw; 
    height: 50vh;
    object-fit: cover;
}

body, html {
    background: linear-gradient(to bottom, #cfcfcf, #eaeaea);
}



.card-img-top {
    width: 100%; /* Asegura que ocupe todo el espacio disponible */
    height: 200px; /* Tamaño más adaptable */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
}

